
body {
   font-family: Arial, sans-serif;
   background-color: #000; 
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   color: #fff; 

.post {
   width: 500px;
   border: 1px solid #dbdbdb;
   background-color: #1c1c1c; 
   border-radius: 3px;
   color: #fff; 
}

.article-header {
   display: flex;
   align-items: center;
   padding: 15px;
   border-bottom: 1px solid #333; 
}

.instagram-header--image {
   display: flex;
   align-items: center;
   flex-grow: 1;
}

.header-1 {
   width: 40px;
   height: 40px;
   background-color: #333; 
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   font-size: 20px;
   color: #fff; 
}

.instagram p {
   margin: 0;
   font-size: 14px;
   line-height: 18px;
   color: #fff; 
}

.header-2 {
   font-size: 20px;
   cursor: pointer;
   color: #fff; 
}

.image-center {
   width: 100%;
}

.image-center img {
   width: 500px;
   height: 500px;
}

.post-body {
   padding: 15px;
}

.post-icons {
   display: flex;
   margin-bottom: 10px;
   padding: right;
   gap: 10px;
}


.align-right {
   text-align: right;
}

.post-body p {
   margin: 5px 0;
   font-size: 14px;
   color: #fff; 
}

strong {
   font-weight: bold;
   color: #fff; ñ
}
.book-mark {
margin-left: auto;
}